{% extends 'core/base.html' %}

{% block title %}Recipes{% endblock %}
{% block style %}
<style>

#like-button {
    width: 2.4rem;
    height: 1.9rem;
}

#like-icon {
  width: 1.3rem;
  height: 1.3rem;
}

#dislike-button {
    width: 2.4rem;
    height: 1.9rem;
}

#dislike-icon {
  width: 1.3rem;
  height: 1.3rem;
}

</style>
{% endblock %}
{% block content %}
    {% load dict_key %}
    <div class="p-5 lg:p-10 text-center">
        <h3 class="text-2xl lg:text-4xl text-black">Your Recipes</h3>
    </div>

    <div class="flex flex-row">
    {% if last_recipe %}
    <div class="ml-5 mr-5 basis-1/4">
        <p class="px-5 py-3 rounded-xl bg-white">Your Last Recipe:</p>
        <a href="{% url 'recipe_detail' pk=last_recipe.id %}">
                <div class="bg-white px-5 py-3 rounded-xl mt-6 hover:shadow-lg hover:shadow-black/30 hover:bg-orange-300">
                    <p id="recipe_name">{{ last_recipe.name }}</p>

                  <div class="w-full bg-gray-200 rounded-full dark:bg-gray-700">
                    <div class="{% if last_recipe_ingredients|dict_key:last_recipe.id < 33 %}bg-red-700
                                    {% elif last_recipe_ingredients|dict_key:last_recipe.id < 66 %}bg-yellow-600
                                    {% else %}bg-green-600
                                {% endif %}
                    text-xs font-medium text-blue-100 text-center p-0.5 leading-none rounded-full"
                         style="width: {{ last_recipe_ingredients|dict_key:last_recipe.id }}%">
                        {{ last_recipe_ingredients|dict_key:last_recipe.id }}%</div>
                  </div>

                </div>
            </a>
                <div class="bg-white px-5 py-3 rounded-xl mt-6 flex justify-between">
                <div class="flex items-center">
                <p>likes: {{ last_recipe.total_likes }}</p>
                </div>
                <div>
                    {% if request.user not in last_recipe.likes.all %}
                    <form method="post" action="{% url 'recipe_like' pk=last_recipe.id %}">
                        {% csrf_token %}
                        <button id='like-button' type="submit" name="recipe_to_like" value="{{ last_recipe.id }}">
                            <svg id='like-icon' aria-hidden="true" fill="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <path d="M7.493 18.75c-.425 0-.82-.236-.975-.632A7.48 7.48 0 016 15.375c0-1.75.599-3.358 1.602-4.634.151-.192.373-.309.6-.397.473-.183.89-.514 1.212-.924a9.042 9.042 0 012.861-2.4c.723-.384 1.35-.956 1.653-1.715a4.498 4.498 0 00.322-1.672V3a.75.75 0 01.75-.75 2.25 2.25 0 012.25 2.25c0 1.152-.26 2.243-.723 3.218-.266.558.107 1.282.725 1.282h3.126c1.026 0 1.945.694 2.054 1.715.045.422.068.85.068 1.285a11.95 11.95 0 01-2.649 7.521c-.388.482-.987.729-1.605.729H14.23c-.483 0-.964-.078-1.423-.23l-3.114-1.04a4.501 4.501 0 00-1.423-.23h-.777zM2.331 10.977a11.969 11.969 0 00-.831 4.398 12 12 0 00.52 3.507c.26.85 1.084 1.368 1.973 1.368H4.9c.445 0 .72-.498.523-.898a8.963 8.963 0 01-.924-3.977c0-1.708.476-3.305 1.302-4.666.245-.403-.028-.959-.5-.959H4.25c-.832 0-1.612.453-1.918 1.227z"></path>
                            </svg>
                        </button>
                    </form>
                    {% else %}
                        <form method="post" action="{% url 'recipe_dislike' pk=last_recipe.id %}">
                        {% csrf_token %}
                        <button id='dislike-button' type="submit" name="recipe_to_dislike" value="{{ last_recipe.id }}">
                            <svg id="dislike-icon" aria-hidden="true" fill="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <path d="M15.73 5.25h1.035A7.465 7.465 0 0118 9.375a7.465 7.465 0 01-1.235 4.125h-.148c-.806 0-1.534.446-2.031 1.08a9.04 9.04 0 01-2.861 2.4c-.723.384-1.35.956-1.653 1.715a4.498 4.498 0 00-.322 1.672V21a.75.75 0 01-.75.75 2.25 2.25 0 01-2.25-2.25c0-1.152.26-2.243.723-3.218C7.74 15.724 7.366 15 6.748 15H3.622c-1.026 0-1.945-.694-2.054-1.715A12.134 12.134 0 011.5 12c0-2.848.992-5.464 2.649-7.521.388-.482.987-.729 1.605-.729H9.77a4.5 4.5 0 011.423.23l3.114 1.04a4.5 4.5 0 001.423.23zM21.669 13.773c.536-1.362.831-2.845.831-4.398 0-1.22-.182-2.398-.52-3.507-.26-.85-1.084-1.368-1.973-1.368H19.1c-.445 0-.72.498-.523.898.591 1.2.924 2.55.924 3.977a8.959 8.959 0 01-1.302 4.666c-.245.403.028.959.5.959h1.053c.832 0 1.612-.453 1.918-1.227z"></path>
                            </svg>
                        </button>
                    </form>
                    {% endif %}
                </div>
            </div>
            <div class="bg-white px-5 py-3 rounded-xl mt-6">
                Description:
                <p id="recipe_description">{{ last_recipe.description }}</p>
            </div>
    </div>

    {% endif %}
    {% if recipes %}
    <div class="basis-3/4">
        <p class="mr-5 px-5 py-3 rounded-xl bg-white">Your Recipes:</p>

    <div class="grid grid-cols-3 gap-5 mr-5">

    {% for recipe in recipes %}
        <div>
            <a href="{% url 'recipe_detail' pk=recipe.id %}">
                <div class="bg-white px-5 py-3 rounded-xl mt-6 hover:shadow-lg hover:shadow-black/30 hover:bg-orange-300">
                    <p id="recipe_name">{{ recipe.name }}</p>

                  <div class="w-full bg-gray-200 rounded-full dark:bg-gray-700">
                    <div class="{% if amount_of_ingredients|dict_key:recipe.id < 33 %}bg-red-700
                                    {% elif amount_of_ingredients|dict_key:recipe.id < 66 %}bg-yellow-600
                                    {% else %}bg-green-600
                                {% endif %}
                    text-xs font-medium text-blue-100 text-center p-0.5 leading-none rounded-full"
                         style="width: {{ amount_of_ingredients|dict_key:recipe.id }}%">{{ amount_of_ingredients|dict_key:recipe.id }}%</div>
                  </div>

                </div>
            </a>

            <div class="bg-white px-5 py-3 rounded-xl mt-6 flex justify-between">
                <div class="flex items-center">
                <p>likes: {{ recipe.total_likes }}</p>
                </div>
                <div>
                    {% if not request.user in recipe.likes.all %}
                    <form method="post" action="{% url 'recipe_like' pk=recipe.id %}">
                        {% csrf_token %}
                        <button id='like-button' type="submit" name="recipe_to_like" value="{{ recipe.id }}">
                            <svg id='like-icon' aria-hidden="true" fill="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <path d="M7.493 18.75c-.425 0-.82-.236-.975-.632A7.48 7.48 0 016 15.375c0-1.75.599-3.358 1.602-4.634.151-.192.373-.309.6-.397.473-.183.89-.514 1.212-.924a9.042 9.042 0 012.861-2.4c.723-.384 1.35-.956 1.653-1.715a4.498 4.498 0 00.322-1.672V3a.75.75 0 01.75-.75 2.25 2.25 0 012.25 2.25c0 1.152-.26 2.243-.723 3.218-.266.558.107 1.282.725 1.282h3.126c1.026 0 1.945.694 2.054 1.715.045.422.068.85.068 1.285a11.95 11.95 0 01-2.649 7.521c-.388.482-.987.729-1.605.729H14.23c-.483 0-.964-.078-1.423-.23l-3.114-1.04a4.501 4.501 0 00-1.423-.23h-.777zM2.331 10.977a11.969 11.969 0 00-.831 4.398 12 12 0 00.52 3.507c.26.85 1.084 1.368 1.973 1.368H4.9c.445 0 .72-.498.523-.898a8.963 8.963 0 01-.924-3.977c0-1.708.476-3.305 1.302-4.666.245-.403-.028-.959-.5-.959H4.25c-.832 0-1.612.453-1.918 1.227z"></path>
                            </svg>
                        </button>
                    </form>
                    {% else %}
                        <form method="post" action="{% url 'recipe_dislike' pk=recipe.id %}">
                        {% csrf_token %}
                        <button id='dislike-button' type="submit" name="recipe_to_dislike" value="{{ recipe.id }}">
                            <svg id="dislike-icon" aria-hidden="true" fill="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <path d="M15.73 5.25h1.035A7.465 7.465 0 0118 9.375a7.465 7.465 0 01-1.235 4.125h-.148c-.806 0-1.534.446-2.031 1.08a9.04 9.04 0 01-2.861 2.4c-.723.384-1.35.956-1.653 1.715a4.498 4.498 0 00-.322 1.672V21a.75.75 0 01-.75.75 2.25 2.25 0 01-2.25-2.25c0-1.152.26-2.243.723-3.218C7.74 15.724 7.366 15 6.748 15H3.622c-1.026 0-1.945-.694-2.054-1.715A12.134 12.134 0 011.5 12c0-2.848.992-5.464 2.649-7.521.388-.482.987-.729 1.605-.729H9.77a4.5 4.5 0 011.423.23l3.114 1.04a4.5 4.5 0 001.423.23zM21.669 13.773c.536-1.362.831-2.845.831-4.398 0-1.22-.182-2.398-.52-3.507-.26-.85-1.084-1.368-1.973-1.368H19.1c-.445 0-.72.498-.523.898.591 1.2.924 2.55.924 3.977a8.959 8.959 0 01-1.302 4.666c-.245.403.028.959.5.959h1.053c.832 0 1.612-.453 1.918-1.227z"></path>
                            </svg>
                        </button>
                    </form>
                    {% endif %}
                </div>
            </div>
            <div class="bg-white px-5 py-3 rounded-xl mt-6">
                Description:
                <p id="recipe_description">{{ recipe.description }}</p>
            </div>

        </div>

    {% endfor %}
    </div>
        {% if recipes.has_other_pages %}
            <div class="mt-2 px-5 py-3 bg-white rounded-xl pagination">
                {% if recipes.has_previous %}
                    <a href="?page_recipe=1">&laquo; first |</a>
                    <a href="?page_recipe={{ recipes.previous_page_number }}">&lsaquo; previous|</a>
                {% endif %}

                {% for num in recipes.paginator.get_elided_page_range %}
                    {% if recipes.number == num %}
                        <span class="current-page">{{ num }}</span>
                    {% else %}
                        <a href="?page_recipe={{ num }}">{{ num }}</a>
                    {% endif %}
                    {% if not forloop.last %}
                        <span>|</span>
                    {% endif %}
                {% endfor %}

                {% if recipes.has_next %}
                    <a href="?page_recipe={{ recipes.next_page_number }}">| next &rsaquo;</a>
                    <a href="?page_recipe={{ recipes.paginator.num_pages }}">| last &raquo;</a>
                {% endif %}
            </div>
        {% endif %}
    </div>
    {% endif %}
    </div>
        <p class="mt-6 ml-5 mr-5 px-5 py-3 rounded-xl bg-white">Best Recipes:</p>
     <div class="grid grid-cols-4 gap-5 ml-5 mr-5">

    {% for recipe in other_recipes %}
        <div>
            <a href="{% url 'recipe_detail' pk=recipe.id %}">
                <div class="bg-white px-5 py-3 rounded-xl mt-6 hover:shadow-lg hover:shadow-black/30 hover:bg-orange-300">
                    <p id="recipe_name">{{ recipe.name }}</p>

                  <div class="w-full bg-gray-200 rounded-full dark:bg-gray-700">
                    <div class="{% if amount_of_ingredients|dict_key:recipe.id < 33 %}bg-red-700
                                    {% elif amount_of_ingredients|dict_key:recipe.id < 66 %}bg-yellow-600
                                    {% else %}bg-green-600
                                {% endif %}
                    text-xs font-medium text-blue-100 text-center p-0.5 leading-none rounded-full"
                         style="width: {{ amount_of_ingredients|dict_key:recipe.id }}%">{{ amount_of_ingredients|dict_key:recipe.id }}%</div>
                  </div>

                </div>
            </a>

            <div class="bg-white px-5 py-3 rounded-xl mt-6 flex justify-between">
                <div class="flex items-center">
                <p>likes: {{ recipe.total_likes }}</p>
                </div>
                <div>
                    {% if not request.user in recipe.likes.all %}
                    <form method="post" action="{% url 'recipe_like' pk=recipe.id %}">
                        {% csrf_token %}
                        <button id='like-button' type="submit" name="recipe_to_like" value="{{ recipe.id }}">
                            <svg id='like-icon' aria-hidden="true" fill="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <path d="M7.493 18.75c-.425 0-.82-.236-.975-.632A7.48 7.48 0 016 15.375c0-1.75.599-3.358 1.602-4.634.151-.192.373-.309.6-.397.473-.183.89-.514 1.212-.924a9.042 9.042 0 012.861-2.4c.723-.384 1.35-.956 1.653-1.715a4.498 4.498 0 00.322-1.672V3a.75.75 0 01.75-.75 2.25 2.25 0 012.25 2.25c0 1.152-.26 2.243-.723 3.218-.266.558.107 1.282.725 1.282h3.126c1.026 0 1.945.694 2.054 1.715.045.422.068.85.068 1.285a11.95 11.95 0 01-2.649 7.521c-.388.482-.987.729-1.605.729H14.23c-.483 0-.964-.078-1.423-.23l-3.114-1.04a4.501 4.501 0 00-1.423-.23h-.777zM2.331 10.977a11.969 11.969 0 00-.831 4.398 12 12 0 00.52 3.507c.26.85 1.084 1.368 1.973 1.368H4.9c.445 0 .72-.498.523-.898a8.963 8.963 0 01-.924-3.977c0-1.708.476-3.305 1.302-4.666.245-.403-.028-.959-.5-.959H4.25c-.832 0-1.612.453-1.918 1.227z"></path>
                            </svg>
                        </button>
                    </form>
                    {% else %}
                        <form method="post" action="{% url 'recipe_dislike' pk=recipe.id %}">
                        {% csrf_token %}
                        <button id='dislike-button' type="submit" name="recipe_to_dislike" value="{{ recipe.id }}">
                            <svg id="dislike-icon" aria-hidden="true" fill="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <path d="M15.73 5.25h1.035A7.465 7.465 0 0118 9.375a7.465 7.465 0 01-1.235 4.125h-.148c-.806 0-1.534.446-2.031 1.08a9.04 9.04 0 01-2.861 2.4c-.723.384-1.35.956-1.653 1.715a4.498 4.498 0 00-.322 1.672V21a.75.75 0 01-.75.75 2.25 2.25 0 01-2.25-2.25c0-1.152.26-2.243.723-3.218C7.74 15.724 7.366 15 6.748 15H3.622c-1.026 0-1.945-.694-2.054-1.715A12.134 12.134 0 011.5 12c0-2.848.992-5.464 2.649-7.521.388-.482.987-.729 1.605-.729H9.77a4.5 4.5 0 011.423.23l3.114 1.04a4.5 4.5 0 001.423.23zM21.669 13.773c.536-1.362.831-2.845.831-4.398 0-1.22-.182-2.398-.52-3.507-.26-.85-1.084-1.368-1.973-1.368H19.1c-.445 0-.72.498-.523.898.591 1.2.924 2.55.924 3.977a8.959 8.959 0 01-1.302 4.666c-.245.403.028.959.5.959h1.053c.832 0 1.612-.453 1.918-1.227z"></path>
                            </svg>
                        </button>
                    </form>
                    {% endif %}
                </div>
            </div>
            <div class="bg-white px-5 py-3 rounded-xl mt-6">
                Description:
                <p id="recipe_description">{{ recipe.description }}</p>
            </div>

        </div>

    {% endfor %}
     </div>
            {% if other_recipes.has_other_pages %}
            <div class="ml-5 mr-5 mt-2 px-5 py-3 bg-white rounded-xl pagination">
                {% if other_recipes.has_previous %}
                    <a href="?page_other_recipes=1">&laquo; first |</a>
                    <a href="?page_other_recipes={{ other_recipes.previous_page_number }}">&lsaquo; previous|</a>
                {% endif %}

                {% for num in other_recipes.paginator.get_elided_page_range %}
                    {% if other_recipes.number == num %}
                        <span class="current-page">{{ num }}</span>
                    {% else %}
                        <a href="?page_other_recipes={{ num }}">{{ num }}</a>
                    {% endif %}
                    {% if not forloop.last %}
                        <span>|</span>
                    {% endif %}
                {% endfor %}

                {% if other_recipes.has_next %}
                    <a href="?page_other_recipes={{ other_recipes.next_page_number }}">| next &rsaquo;</a>
                    <a href="?page_other_recipes={{ other_recipes.paginator.num_pages }}">| last &raquo;</a>
                {% endif %}
            </div>
        {% endif %}
{% endblock %}